[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==0.19.2"
alembic = "==1.7.7"
anyio = "==3.5.0"
certifi = "==2021.10.8"
cffi = "==1.15.0"
charset-normalizer = "==2.0.12"
cryptography = "==36.0.2"
distlib = "==0.3.4"
fastapi = "==0.75.0"
filelock = "==3.6.0"
greenlet = "==1.1.2"
idna = "==3.3"
importlib-metadata = "==4.11.3"
importlib-resources = "==5.4.0"
loguru = "==0.6.0"
passlib = "==1.7.4"
pipenv = "==2022.1.8"
platformdirs = "==2.5.1"
pycparser = "==2.21"
pydantic = "==1.9.0"
requests = "==2.27.1"
six = "==1.16.0"
sniffio = "==1.2.0"
sqlalchemy2-stubs = "==0.0.2a20"
sqlmodel = "==0.0.6"
starlette = "==0.17.1"
typing-extensions = "==4.1.1"
urllib3 = "==1.26.9"
virtualenv = "==20.13.4"
virtualenv-clone = "==0.5.7"
zipp = "==3.7.0"
Mako = "==1.2.0"
MarkupSafe = "==2.1.1"
SQLAlchemy = {extras = ["asyncio"], version = "*"}
uvicorn = "==0.17.6"
asgiref = "==3.5.0"
click = "==8.0.4"
h11 = "==0.13.0"
asyncpg = "*"
psycopg2-binary = "*"
reorder-python-imports = "*"
pyjwt = "*"
locust = "*"
faker = "*"
mock-alchemy = "*"
pylint = "*"
sentry-sdk = "*"
flake8 = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"